@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,700;9..40,800;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap");
html, body {
  padding: 0;
  margin: 0;
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
html h2, body h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
html h4, body h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
html h5, body h5 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
html p, body p {
  color: #b1afaf;
}
html a, body a {
  text-decoration: none;
  color: #191919;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
}

.section-padding {
  padding: 60px 15px;
}
@media (min-width: 768px) {
  .section-padding {
    padding: 80px 0;
  }
}

.section-title h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 20px;
}
@media (min-width: 576px) {
  .section-title h2 {
    font-size: 45px;
    padding-bottom: 48px;
  }
}
.section-title p {
  color: #F94D1C;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 18px;
}

.content-center {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 768px) {
  .content-center {
    flex-direction: row;
    justify-content: center;
  }
}

.article-detail .container .categoryNav a:hover, .article-detail .container .content .side-bar .recent-post .categories .category:hover, .article-detail .container .content .side-bar .recent-post .post:hover, .article-news .container .boxes .box:hover, .testimonial .container .boxes .box:hover, .team-section .container .team-members .member:hover, .services .container .services-boxes .box-content:hover, .menu-button:hover {
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.decoration {
  position: absolute;
  bottom: 0;
  display: none;
}
@media (min-width: 1200px) {
  .decoration {
    display: flex;
    z-index: 1;
  }
}

.hide {
  display: none;
}

.barMenu {
  background-color: #F0EFE9;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 70px 0;
  z-index: 3;
}
.barMenu a {
  display: block;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  border-bottom: 1px solid #deddd8;
}
.barMenu a:hover {
  background-color: #deddd8;
}
.barMenu .active {
  background-color: #deddd8;
}

.btn-yellow, .btn-black, .btn-transperent {
  background-color: transparent;
  border: 1px solid #191919;
  padding: 15px 30px;
  border-radius: 35px;
  color: #191919;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s ease, background-color 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.5s ease;
  cursor: pointer;
}
.btn-yellow i, .btn-black i, .btn-transperent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover, .btn-black:hover, .btn-transperent:hover {
  background-color: #191919;
  border-color: #191919;
  color: #DBDAD5;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.btn-black {
  background-color: #191919;
  color: #F0EFE9;
}
.btn-black:hover {
  background-color: transparent;
  color: #191919;
}

.btn-yellow {
  background-color: #F9D783;
  border-color: #F9D783;
  color: #191919;
}

.scrollToTopButton {
  position: fixed;
  bottom: 50px;
  right: 30px;
  padding: 10px 15px;
  color: #c7a246;
  border-radius: 50%;
  border: 1px solid #c7a246;
  z-index: 2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s ease, background-color 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.5s ease;
  cursor: pointer;
}

.menu-button {
  border: none;
  font-size: 25px;
  background-color: transparent;
  padding: 10px;
  z-index: 5;
}
@media (min-width: 992px) {
  .menu-button {
    display: none;
  }
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 0;
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
@media (min-width: 2500px) {
  header .container .menu {
    max-width: 2048px;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #DBDAD5;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information {
    display: flex;
    justify-content: center;
  }
}
header .container .menu .top-menu .contact-information .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DBDAD5;
  font-size: 15px;
}
header .container .menu .top-menu .contact-information .content-box.last {
  border: none;
}
header .container .menu .top-menu .contact-information .content-box i {
  margin-right: 5px;
  font-size: 1.2rem;
  color: #6e6a6a;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
}
header .container .menu .top-menu .social-media a:hover {
  color: #6e6a6a;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
header .container .menu .main-menu nav a {
  color: #191919;
  text-decoration: none;
  margin-right: 30px;
  position: relative;
  font-size: 18px;
}
header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 700;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .main-menu .login-btn {
  padding-top: 8px;
  padding-bottom: 8px;
}

.showcase {
  background-color: #F0EFE9;
  position: relative;
  padding-bottom: 40px;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding: 0;
  text-align: center;
}
@media (min-width: 992px) {
  .showcase .container .content {
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
@media (min-width: 786px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  padding: 20px;
}
@media (min-width: 786px) {
  .showcase .container .content p {
    font-size: 20px;
    padding: 40px 0px 40px 0px;
  }
}
.showcase .container .content .content-center {
  gap: 20px;
}
.showcase .container .content .content-center a {
  z-index: 2;
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}
.showcase .decoration {
  left: 0;
}

.partners .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .partners .container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.futures {
  border: 1px solid #DBDAD5;
}
@media (min-width: 992px) {
  .futures {
    margin: 0px 100px;
  }
}
.futures .container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 20px;
}
@media (min-width: 992px) {
  .futures .container {
    grid-template-columns: 3fr 3.5fr 0.5fr;
    gap: 100px;
  }
}
.futures .container .futures-text-block {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}
.futures .container .futures-text-block a {
  text-align: center;
}
@media (min-width: 992px) {
  .futures .container .futures-text-block {
    text-align: left;
    padding-right: 40px;
  }
}
.futures .container .futures-text-block h2 {
  padding-bottom: 35px;
}
.futures .container .futures-boxes {
  display: block;
  padding-left: 0;
  padding-top: 40px;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 20px;
}
@media (min-width: 768px) {
  .futures .container .futures-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 40px;
         column-gap: 40px;
    row-gap: 30px;
  }
}
.futures .container .futures-boxes .box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #191919;
}
@media (min-width: 768px) {
  .futures .container .futures-boxes .box-content {
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
  }
}
.futures .container .futures-boxes .box-content h4 {
  padding-bottom: 7px;
}
.futures .container .futures-boxes .box-content i {
  padding-bottom: 28px;
  font-size: 30px;
}
.futures .container .futures-boxes .box-content p {
  font-size: 16px;
  padding-bottom: 20px;
}
@media (min-width: 992px) {
  .futures .container .futures-boxes .box-content p {
    padding-bottom: 10px;
  }
}
.futures .container .futures-boxes .box-content:hover {
  color: #b1afaf;
}

.about .container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
@media (min-width: 992px) {
  .about .container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .about .container {
    gap: 180px;
  }
}
.about .container .img-container {
  position: relative;
}
.about .container .img-container img {
  max-width: 100%;
  height: auto;
  padding-bottom: 10px;
}
@media (min-width: 992px) {
  .about .container .img-container {
    display: inline-block;
  }
  .about .container .img-container img {
    width: 533px;
    height: 615px;
    max-width: none;
    margin-left: 55px;
  }
}
.about .container .img-container .quote {
  height: auto;
  display: block;
  background-color: #BEEBFF;
  padding: 20px;
}
@media (min-width: 992px) {
  .about .container .img-container .quote {
    position: absolute;
  }
}
@media (min-width: 992px) {
  .about .container .img-container .quote {
    width: 368px;
    height: 180px;
    top: 385px;
  }
}
.about .container .img-container .quote #samantha {
  font-size: 22px;
  font-weight: 700;
  color: #191919;
}
@media (min-width: 1200px) {
  .about .container .img-container .quote #samantha {
    font-size: 16px;
  }
}
.about .container .img-container .quote p {
  color: #6e6a6a;
  font-weight: 500;
}
.about .container .img-container .quote .colored-word {
  font-size: 18px;
  color: #F94D1C;
  font-weight: 700;
}
.about .container .content {
  display: block;
}
.about .container .content .section-title {
  padding-top: 20px;
}
@media (min-width: 992px) {
  .about .container .content .section-title {
    padding-top: 0;
  }
}
.about .container .content .buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
}
.about .container .content .buttons .btn-play {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #191919;
  padding-top: 30px;
}
.about .container .content .buttons .btn-play #video-icon {
  font-size: 3em;
}
.about .container .content .buttons .btn-play span {
  text-align: center;
}
.about .container .content .buttons .btn-play:hover {
  color: #b1afaf;
}
@media (min-width: 786px) {
  .about .container .content .buttons {
    justify-content: space-between;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
  .about .container .content .buttons .btn-play {
    padding-top: 0;
    justify-content: left;
  }
}
@media (min-width: 1200px) {
  .about .container .content .buttons {
    justify-content: left;
  }
}

.why-choose-us {
  position: relative;
}
.why-choose-us .container {
  position: relative;
  display: block;
  text-align: center;
}
@media (min-width: 1200px) {
  .why-choose-us .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 20px;
  }
}
@media (min-width: 1400px) {
  .why-choose-us .container {
    gap: 100px;
  }
}
.why-choose-us .container img {
  width: 345px;
  height: auto;
}
@media (min-width: 786px) {
  .why-choose-us .container img {
    width: 645px;
    height: 505px;
  }
}
.why-choose-us .container .content {
  display: block;
  padding-right: 20px;
  align-items: center;
}
@media (min-width: 1400px) {
  .why-choose-us .container .content {
    padding-right: 160px;
  }
}
.why-choose-us .container .content .section-title h2 {
  font-size: 30px;
}
@media (min-width: 992px) {
  .why-choose-us .container .content .section-title h2 {
    font-size: 45px;
  }
}
.why-choose-us .container .content .boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.why-choose-us .container .content .boxes .box {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
  text-decoration: none;
  color: #191919;
}
.why-choose-us .container .content .boxes .box .circle {
  width: 50px;
  height: 50px;
  margin-right: 0;
  border: 2px solid #F0EFE9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-choose-us .container .content .boxes .box .circle i {
  font-size: 20px;
  text-align: center;
}
@media (min-width: 576px) {
  .why-choose-us .container .content .boxes .box .circle i {
    font-size: 25px;
  }
}
@media (min-width: 576px) {
  .why-choose-us .container .content .boxes .box .circle {
    margin-right: 20px;
    width: 60px;
    height: 60px;
  }
}
.why-choose-us .container .content .boxes .box .box-content h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.why-choose-us .container .content .boxes .box .box-content p {
  font-size: 16px;
  padding-bottom: 15px;
}
.why-choose-us .container .content .boxes .box:hover .circle {
  background-color: #b1afaf;
}
.why-choose-us .container .content .boxes .box:hover .box-content {
  color: #b1afaf;
}
.why-choose-us .backround-box {
  position: absolute;
  background-color: #F0EFE9;
  top: 320px;
  right: 0;
  width: 55%;
  height: 55%;
  z-index: -1;
  display: none;
}
@media (min-width: 1200px) {
  .why-choose-us .backround-box {
    display: block;
  }
}

.project-case .container .section-title {
  text-align: center;
}
@media (min-width: 768px) {
  .project-case .container .section-title h2 {
    padding-bottom: 90px;
  }
}
.project-case .container .cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 15px;
}
@media (min-width: 768px) {
  .project-case .container .cases {
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
}
.project-case .container .cases .project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  text-decoration: none;
  color: #191919;
}
.project-case .container .cases .project img {
  width: 100%;
  height: auto;
}
.project-case .container .cases .project h4 {
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DBDAD5;
}
.project-case .container .cases .project .readmore {
  padding: 15px;
  display: block;
  text-align: right;
  text-decoration: none;
  color: #191919;
  font-size: 14px;
  font-weight: 500;
}
.project-case .container .cases .project .readmore i {
  margin-left: 2px;
}
.project-case .container .cases .project:hover .readmore {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .project-case .container .content-center {
    padding-top: 40px;
  }
}

.services {
  background-color: #F0EFE9;
  position: relative;
}
.services .container {
  display: block;
}
.services .container .section-title {
  padding-bottom: 48px;
}
.services .container .section-title p {
  text-align: center;
}
@media (min-width: 992px) {
  .services .container .section-title p {
    text-align: left;
  }
}
.services .container .section-title h2 {
  text-align: center;
  padding: 0;
}
@media (min-width: 992px) {
  .services .container .section-title h2 {
    text-align: left;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
  }
}
.services .container .services-boxes {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 50px;
  gap: 40px;
}
@media (min-width: 768px) {
  .services .container .services-boxes {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .services .container .services-boxes {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.services .container .services-boxes .box-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: #191919;
  padding: 20px 30px 40px 25px;
  background-color: #ffffff;
  cursor: pointer;
}
@media (min-width: 992px) {
  .services .container .services-boxes .box-content {
    display: block;
  }
}
.services .container .services-boxes .box-content h4 {
  padding-top: 20px;
}
.services .container .services-boxes .box-content .left-content {
  text-align: center;
}
@media (min-width: 992px) {
  .services .container .services-boxes .box-content .left-content {
    text-align: left;
  }
}
.services .container .services-boxes .box-content .left-content i {
  font-size: 40px;
  padding-top: 20px;
}
.services .container .services-boxes .box-content .right-content {
  text-align: center;
}
@media (min-width: 992px) {
  .services .container .services-boxes .box-content .right-content {
    text-align: right;
  }
}
.services .container .services-boxes .box-content .right-content i {
  font-size: 56px;
  background-color: transparent;
  color: #191919;
}
.services .container .services-boxes .box-content:hover {
  background-color: #F9D783;
}
.services .container .button {
  display: flex;
  justify-content: center;
  text-align: center;
}
.services .container .button a {
  flex: 1;
}
@media (min-width: 992px) {
  .services .container .button {
    display: block;
    align-items: center;
  }
}
.services .decoration {
  right: 0;
}
@media (min-width: 768px) {
  .services .decoration {
    display: flex;
  }
}

.team-section {
  background-color: #EDCF87;
}
.team-section .container .title {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}
@media (min-width: 768px) {
  .team-section .container .title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .team-section .container .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.team-section .container .title .section-title h2 {
  padding-bottom: 40px;
}
@media (min-width: 992px) {
  .team-section .container .title .section-title h2 {
    padding: 0;
    margin: 0;
  }
}
.team-section .container .title .content-center {
  display: flex;
  flex-direction: column;
}
.team-section .container .title .content-center .btn-yellow {
  border: 1px solid #191919;
}
.team-section .container .team-members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .team-section .container .team-members {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-top: 90px;
  }
}
@media (min-width: 1200px) {
  .team-section .container .team-members {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: left;
  }
}
.team-section .container .team-members .member {
  text-decoration: none;
  color: #191919;
}
.team-section .container .team-members .member img {
  max-width: 100%;
  height: auto;
}
.team-section .container .team-members .member h4 {
  padding-top: 28px;
}
.team-section .container .team-members .member p {
  margin-top: -5px;
  color: #6e6a6a;
}

.testimonial {
  background-color: #EDCF87;
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}
@media (min-width: 992px) {
  .testimonial {
    padding-bottom: 120px;
  }
}
.testimonial .container {
  text-align: center;
  max-width: 1520px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .testimonial .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}
.testimonial .container .boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0;
}
@media (min-width: 992px) {
  .testimonial .container .boxes {
    flex-direction: row;
    text-align: left;
    gap: 35px;
    padding-bottom: 40px;
  }
}
.testimonial .container .boxes .box {
  width: 100%;
  height: auto;
  display: block;
  justify-content: center;
  padding: 35px;
  text-decoration: none;
  color: #191919;
  cursor: pointer;
}
.testimonial .container .boxes .box p {
  font-size: 18px;
  letter-spacing: -0.2px;
}
.testimonial .container .boxes .box .stars {
  padding-bottom: 26px;
  color: #F94D1C;
}
.testimonial .container .boxes .box .customer {
  display: block;
  padding-top: 0;
  gap: 0;
}
.testimonial .container .boxes .box .customer img {
  width: 70px;
  height: 70px;
}
@media (min-width: 768px) {
  .testimonial .container .boxes .box .customer {
    padding-top: 30px;
  }
}
@media (min-width: 1200px) {
  .testimonial .container .boxes .box .customer {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    gap: 10px;
  }
}
.testimonial .container .boxes .box .customer .content {
  align-items: center;
  text-align: center;
}
.testimonial .container .boxes .box .customer .content p {
  font-size: 16px;
}
.testimonial .container .boxes .box .customer .content h4 {
  margin-bottom: 0;
  margin-top: 0;
}
@media (min-width: 992px) {
  .testimonial .container .boxes .box .customer .content h4 {
    margin-top: 10px;
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .testimonial .container .boxes .box .customer .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
}

.article-news .container {
  display: block;
  text-align: center;
}
@media (min-width: 992px) {
  .article-news .container {
    text-align: left;
  }
}
.article-news .container .title {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}
@media (min-width: 992px) {
  .article-news .container .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: left;
  }
}
.article-news .container .title .section-title h2 {
  padding-bottom: 48px;
}
@media (min-width: 992px) {
  .article-news .container .title .section-title h2 {
    padding: 0;
    margin: 0;
  }
}
.article-news .container .title .browse-article {
  margin-bottom: 15px;
}
.article-news .container .boxes {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 43px;
}
@media (min-width: 768px) {
  .article-news .container .boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: left;
    text-align: left;
    gap: 30px;
  }
}
@media (min-width: 1400px) {
  .article-news .container .boxes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.article-news .container .boxes .box {
  display: block;
  text-decoration: none;
  color: #191919;
  padding-bottom: 30px;
  height: 100%;
}
.article-news .container .boxes .box .img-content {
  position: relative;
  display: block;
}
@media (min-width: 992px) {
  .article-news .container .boxes .box .img-content {
    display: flex;
    align-items: left;
  }
}
.article-news .container .boxes .box .img-content img {
  width: 420px;
  height: 230px;
}
@media (max-width: 768px) {
  .article-news .container .boxes .box .img-content img {
    max-width: 100%;
    height: auto;
  }
}
.article-news .container .boxes .box .img-content .calendar {
  position: absolute;
  width: 56px;
  height: 64px;
  background-color: #F9D783;
  left: 8%;
  top: 16px;
  padding: 10px 11px 8px 14px;
}
@media (min-width: 992px) {
  .article-news .container .boxes .box .img-content .calendar {
    left: 5%;
  }
}
.article-news .container .boxes .box .img-content .calendar span {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.article-news .container .boxes .box .subtitle {
  padding-top: 15px;
}
@media (min-width: 992px) {
  .article-news .container .boxes .box .subtitle {
    padding-top: 28px;
  }
}
.article-news .container .dots {
  padding-top: 60px;
  text-align: center;
  font-size: 12px;
}
.article-news .container .dots a {
  color: #6e6a6a;
}
.article-news .container .dots .active {
  color: #191919;
}
.article-news .container .dots a :hover {
  color: #191919;
}

.article-detail {
  padding-top: 20px;
}
@media (min-width: 768px) {
  .article-detail {
    padding-top: 80px;
  }
}
.article-detail .container {
  padding: 0;
}
.article-detail .container .title {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}
@media (min-width: 768px) {
  .article-detail .container .title {
    grid-template-columns: 2fr 1fr;
    text-align: left;
  }
}
.article-detail .container .article-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  gap: 10px;
  padding-bottom: 40px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  padding: 20px;
}
@media (min-width: 768px) {
  .article-detail .container .article-info {
    justify-content: flex-start;
    padding-left: 0;
    gap: 20px;
  }
}
.article-detail .container .article-info li {
  font-size: 16px;
}
@media (min-width: 768px) {
  .article-detail .container .article-info li {
    font-size: 20px;
  }
}
.article-detail .container .article-info i {
  font-size: 7px;
  color: #F9D783;
}
@media (min-width: 768px) {
  .article-detail .container .article-info i {
    font-size: 10px;
  }
}
.article-detail .container .content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  text-align: center;
}
@media (min-width: 992px) {
  .article-detail .container .content {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 0;
    text-align: left;
  }
}
.article-detail .container .content .article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.article-detail .container .content img {
  width: 758px;
  height: 500px;
}
@media (max-width: 768px) {
  .article-detail .container .content img {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 1200px) {
  .article-detail .container .content img {
    width: 37em;
  }
}
.article-detail .container .content .side-bar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.article-detail .container .content .side-bar .search-box {
  position: relative;
  display: flex;
  align-items: center;
}
.article-detail .container .content .side-bar .search-box i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.article-detail .container .content .side-bar .search-box input {
  width: 100%;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F3F3F3;
  border-radius: 18px;
  border-color: transparent;
}
.article-detail .container .content .side-bar .search-box input:focus {
  outline: none;
}
.article-detail .container .content .side-bar .recent-post {
  border: 1px solid rgba(25, 25, 25, 0.2);
  padding: 40px 60px;
}
.article-detail .container .content .side-bar .recent-post h4 {
  font-size: 24px;
  font-weight: bold;
}
.article-detail .container .content .side-bar .recent-post span {
  text-decoration: underline;
}
.article-detail .container .content .side-bar .recent-post .post {
  border-bottom: 1px solid #d8d7d7;
  padding-top: 15px;
}
.article-detail .container .content .side-bar .recent-post .post .date {
  font-size: 14px;
  color: rgba(25, 25, 25, 0.7);
}
.article-detail .container .content .side-bar .recent-post .post .description {
  font-size: 16px;
  color: #191919;
  font-weight: bold;
  margin: 0;
}
.article-detail .container .content .side-bar .recent-post .post:last-child {
  border-bottom: none;
}
.article-detail .container .content .side-bar .recent-post .categories {
  padding-top: 15px;
}
.article-detail .container .content .side-bar .recent-post .categories .category {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .article-detail .container .content .side-bar .recent-post .categories .category {
    justify-content: left;
  }
}
.article-detail .container .content .side-bar .recent-post .categories .category p {
  padding-left: 15px;
  font-size: 14px;
}
.article-detail .container .content .side-bar .recent-post .categories .category h5 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.article-detail .container .categoryNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding-top: 40px;
  font-size: 14px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .article-detail .container .categoryNav {
    flex-direction: row;
    align-items: flex-start;
  }
}
.article-detail .container .categoryNav a {
  text-decoration: none;
  color: #191919;
  background-color: #F3F3F3;
  padding: 12px 30px;
  border-radius: 20px;
}

.get-update {
  background-color: #F0EFE9;
  position: relative;
}
.get-update .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 107px;
  padding-bottom: 107px;
}
@media (min-width: 1200px) {
  .get-update .container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .get-update .container .section-title h2 {
    padding: 0;
  }
}
.get-update .container .content-center {
  text-align: center;
  gap: 25px;
}
.get-update .container .content-center .btn-yellow {
  padding: 17px 30px;
}
.get-update .container .content-center input {
  border-radius: 35px;
  border: none;
  text-align: center;
  padding: 15px 30px;
  margin-right: 0;
}
@media (min-width: 1200px) {
  .get-update .container .content-center input {
    width: 308px;
    text-align: left;
  }
}
.get-update .container .content-center input:hover {
  background-color: #fefefe;
}
.get-update .container .content-center input:focus {
  outline: none;
}
.get-update .decoration {
  right: 0;
  padding-bottom: 10px;
}
@media (min-width: 1400px) {
  .get-update .decoration {
    padding-bottom: 58px;
  }
}

.footer {
  background-color: #0E1021;
  position: relative;
}
.footer .container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 992px) {
  .footer .container {
    display: flex;
    justify-content: flex-start;
    gap: 105px;
    align-items: left;
    text-align: left;
  }
}
.footer .container .logo {
  flex: 0.4;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  text-align: center;
}
@media (min-width: 992px) {
  .footer .container .logo {
    justify-content: left;
    align-items: left;
    text-align: left;
  }
}
.footer .container .logo p {
  padding-top: 29px;
  text-align: center;
}
@media (min-width: 992px) {
  .footer .container .logo p {
    text-align: left;
    margin-right: 20px;
  }
}
.footer .container .content {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding-top: 25px;
}
@media (min-width: 992px) {
  .footer .container .content {
    display: flex;
    justify-content: space-between;
    align-items: left;
    text-align: left;
    flex: 1;
  }
}
.footer .container .content .box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  padding-bottom: 20px;
}
@media (min-width: 992px) {
  .footer .container .content .box {
    padding-bottom: 0;
  }
}
.footer .container .content .box h4 {
  padding-bottom: 0;
}
@media (min-width: 992px) {
  .footer .container .content .box h4 {
    padding-bottom: 10px;
  }
}
.footer .container .content .box a {
  text-decoration: none;
  color: #b1afaf;
  font-weight: 500;
}
.footer .container .content .box a:hover {
  color: #ffffff;
}
.footer .decoration {
  right: 0;
}

.bottom-footer {
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: #0E1021;
  border-top: 1px solid #6e6a6a;
}
.bottom-footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #b1afaf;
}
@media (min-width: 992px) {
  .bottom-footer .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.bottom-footer .container .social-media a {
  color: #ffffff;
  font-size: 1.3rem;
  margin-left: 10px;
}
.bottom-footer .container .social-media a:hover {
  color: #6e6a6a;
}

.showcase-contacts {
  padding-bottom: 80px;
  padding-top: 60px;
}
.showcase-contacts .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.showcase-contacts .container .nav-contact {
  display: flex;
  padding-bottom: 20px;
}
.showcase-contacts .container .nav-contact a {
  padding-right: 10px;
  text-decoration: none;
  color: #6e6a6a;
  z-index: 2;
}
.showcase-contacts .container .nav-contact a:hover {
  color: #191919;
  font-weight: bold;
}

.contact-detail .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (min-width: 992px) {
  .contact-detail .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
  }
}
.contact-detail .container .box {
  display: flex;
  border: 1px solid #DBDAD5;
  padding: 20px;
}
@media (min-width: 992px) {
  .contact-detail .container .box {
    padding: 50px 30px 40px 20px;
  }
}
@media (min-width: 1200px) {
  .contact-detail .container .box {
    padding: 50px 60px 40px 40px;
  }
}
@media (min-width: 1400px) {
  .contact-detail .container .box {
    padding: 50px 120px 40px 60px;
  }
}
.contact-detail .container .box i {
  font-size: 55px;
  padding-right: 15px;
}
.contact-detail .container .box .content {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.contact-detail .container .box .content p {
  margin-bottom: 1px;
}

.contacts {
  padding-bottom: 80px;
}
.contacts .container {
  background-color: #F0EFE9;
  text-align: center;
}
@media (max-width: 768px) {
  .contacts .container {
    padding: 15px;
  }
}
.contacts .container h2 {
  padding-bottom: 32px;
}
.contacts .container .contact-form {
  width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
.contacts .container .contact-form .alert-success {
  background-color: #66bb6a;
  padding: 15px;
  border-radius: 8px;
}
.contacts .container .contact-form .alert-warning {
  background-color: #ffcc00;
  padding: 15px;
  border-radius: 8px;
}
.contacts .container .contact-form .form-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
.contacts .container .contact-form .form-group input,
.contacts .container .contact-form .form-group textarea {
  border-radius: 35px;
  border: none;
  text-align: left;
  padding: 15px 30px;
  placeholder-color: #ccc;
}
.contacts .container .contact-form .form-group input,
.contacts .container .contact-form .form-group textarea:focus {
  outline: none;
}
.contacts .container .contact-form .form-group .error-input {
  color: #df4747;
  border: 1px solid #df4747;
  background-color: #fff5f5;
}
.contacts .container .contact-form .form-group .error {
  color: #df4747;
}
.contacts .container .contact-form .form-group span {
  font-size: 0.8em;
  color: #df4747;
  text-align: left;
  padding-left: 20px;
}
@media (max-width: 768px) {
  .contacts .container .contact-form {
    max-width: 100%;
    padding: 10px;
  }
  .contacts .container .contact-form input,
  .contacts .container .contact-form textarea {
    padding: 10px;
  }
}
.contacts .container #btn-submit {
  padding-top: 44px;
}

.notFound .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .notFound .container {
    align-items: flex-start;
  }
}
.notFound .container h1 {
  padding-top: 30px;
}
.notFound .container img {
  max-width: 300px;
  height: auto;
}
.notFound .container a {
  padding-top: 40px;
  color: #191919;
}
.notFound .container a:hover {
  color: #a1a1a1;
}