.about {
    .container {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
        
        @media (min-width:992px)  {
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            text-align: left;    
        }

        @media (min-width:1200px){
            gap: 180px;
        }

        .img-container {
            position: relative;
            
            img {
                max-width: 100%;
                height: auto;
                padding-bottom: 10px;
            }

            @media (min-width:992px)  {
                
                display: inline-block;
                img {
                    width: 533px; 
                    height: 615px; 
                    max-width: none;
                    margin-left: 55px;
                }
            }
            
            .quote {
                height: auto;
                display: block;
                background-color:#BEEBFF; 
                padding: 20px;
                
                @media (min-width:992px) {
                    position: absolute;
                }

                @media (min-width:992px){
                    width: 368px;
                    height: 180px;
                    top: 385px;    
                }

                #samantha {
                    font-size: 22px;
                    font-weight: 700;
                    color: #191919;
                    @media (min-width:1200px){
                        font-size: 16px;
                        }
                }
                p {
                    color: #6e6a6a;
                    font-weight: 500;
                }
                .colored-word {
                    font-size: 18px;
                    color: #F94D1C;
                    font-weight: 700;    
                }
            }   
        }
       
        .content {
            display: block;
            
            .section-title {
                padding-top: 20px;
                @media (min-width:992px) {
                    padding-top: 0;
                }
            }
           
            .buttons{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-top: 40px;
                               
                .btn-play{
                    display: flex;
                    justify-content: center; 
                    align-items: center;
                    gap: 8px;
                    text-decoration: none;
                    color: #191919;
                    padding-top: 30px;
                                        
                    #video-icon {
                        font-size: 3em;
                    }
                    span {
                        text-align: center;
                     }
                     &:hover{
                        color: #b1afaf;
                     }

                }
            }
            @media (min-width:786px){  
                .buttons{
                    justify-content: space-between; 
                    flex-direction: row;
                    justify-content: center;
                    gap: 20px;

                    .btn-play{
                        padding-top: 0;
                        justify-content: left; 
                    }
                }
               
            }

            @media (min-width:1200px){
                .buttons{
                    justify-content: left;
                }
                
            }
            
            
        }
        
    }
}