@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,700;9..40,800;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap');

html, body {
    padding: 0;
    margin: 0;
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
        
    h2 {
        font-family: 'DM Sans', sans-serif;
        font-size: 45px;
        font-weight: 700;
    }
    
    h4 {
        font-family: 'DM Sans', sans-serif;
        font-size: 22px;
        font-weight: 700;
    }
    
    h5 {
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-weight: 700;
    }

    p {color: #b1afaf;}

    a {
        text-decoration: none;
        color: #191919;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
flex: 1;
}
.section-padding {
    padding: 60px 15px;
      
    @media (min-width:768px) {
        padding: 80px 0;
    }
}

.section-title {
    h2 {
        font-family: 'DM Sans', sans-serif;
        font-size: 28px;
        font-weight: 700;
        padding-bottom: 20px;
        
        @media (min-width: 576px) {
            font-size: 45px;
            padding-bottom: 48px;
        }
    }

    p {
        color: #F94D1C;
        font-size: 18px;
        font-weight: 500;
        margin: 0;
        padding-bottom: 18px;
        
    }
}

.content-center {
    display: flex;
    flex-direction: column;
    text-align: center;   
    
    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: center; 
   }
}

%hover-effect {
    &:hover {
        transform: scale(1.05);
        transition: background-color 0.3s ease, transform 0.3s ease;
    }
}

.decoration {
    position: absolute;
    bottom: 0; 
    display: none;
    
    @media (min-width:1200px) {
        display: flex;
        z-index: 1;
    }
}

