%common-button-styles {
    background-color: transparent;
    border: 1px solid #191919;
    padding: 15px 30px;
    border-radius: 35px;
    color: #191919;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    
    transition: box-shadow 0.5s ease,
                background-color 0.2s ease-in-out, color 0.2s ease-in-out, 
                transform 0.5s ease;
                
    cursor: pointer;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border-color: #191919;
        color: #DBDAD5;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        transform: translateY(-2px);
        
    }
}

.btn-transperent{
    @extend %common-button-styles;
}

.btn-black{
    @extend %common-button-styles;
    background-color: #191919;
    color: #F0EFE9;
    &:hover {
        background-color: transparent;
        color: #191919;
    }
}

.btn-yellow {
    @extend %common-button-styles;
    background-color: #F9D783;
    border-color: #F9D783;
    color: #191919;
}

.scrollToTopButton {
    position: fixed;
    bottom: 50px;
    right: 30px;
    height: 60px;
    width: 40px;
    background-color: #F9D783;
    border: none;
    z-index: 2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    
    transition: box-shadow 0.5s ease,
                background-color 0.2s ease-in-out, color 0.2s ease-in-out, 
                transform 0.5s ease;
                
    cursor: pointer;
 
}
